/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.med{
  background-color:#989899;
}

img{

  border-radius: 10%;
}


header{
  background-color: rgb(0, 0, 0);

  max-width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./image/binary-4861617_960_720.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.hidden-spacer {
  height: 56px;
  background-color: #989899;
}
/* Carousel base class */
.Carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.Carousel-Caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.Carousel-item {
  height: 32rem;
}
   .img {
border-radius: 50px;

  position: absolute;
  top: 0;
  left: 0;
  height: 302rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
 .col-lg-4 {
   max-width: 400px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 2px auto;
  cursor: pointer;
}
.marketing h2 {
  font-weight: 400;
}
.col-lg-4 p {
  margin-right: 50px;
  margin-left: 5px;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

footer{
  background-color: #007bff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
